<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app1/style.css' %}">
    <title>Add Person</title>
</head>
<body>
    <h2>Add Person</h2>
    <form method="post" action="{% url 'add' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="{% url 'show_all' %}">Show All</a>
</body>
</html>