<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app1/style.css' %}">
    <title>Show All Persons</title>
</head>
<body>
    <h2>All People</h2>
    <ul>
        {% for person in people %}
            <li>{{ person.username }}</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'add' %}">Add Person</a>
</body>
</html>